<div xmlns="http://www.w3.org/1999/xhtml" id="ComponentWrapper" class="component-wrapper">
    <div id="ComponentPlaceholder" class="component_placeholder component_placeholder_side_navbar">
        <div id="ComponentFeedback"></div>
    </div>
    <div id="ComponentContent" class="left-compact-sidebar component-content-fixed sidebar-left" style="display:none">
        <nav class="sidebar sidebar-dark compact-sidebar">
            <div class="sidebar_toggle sidebar_toggle_left nav-link-important"></div>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a id='navigation_item_feed' class="nav-link navigation-activate-on-feed" href="#"><i class="fa fa-home" aria-hidden="true"></i><br/>Feed</a>
                </li>
                <li class="nav-item">
                    <a id='navigation_item_history' class="nav-link navigation-activate-on-history" href="#"><i class="fa fa-history" aria-hidden="true"></i><br/>History</a>
                </li>
            </ul>
            <ul class="nav flex-column fixed-bottom">
                <li class="nav-item">
                    <a id="navigation_item_my_profile" class="nav-link nav-link-important navigation-activate-on-profile" href="#"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
                </li>
            </ul>
        </nav>
    </div>
</div>